{% extends 'layout.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block content %}
    <h2 class="text-center">{{ block('title') }}</h2>

    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}
    {% if form_errors(userForm.password.first) %}
        <div class="alert alert-danger">
            {{ form_errors(userForm.password.first) }}
        </div>
    {% endif %}

    <div class="well" id="contenu-inscription">
        <h5 class="pull-right">* champs obligatoires</h5>
        {{ form_start(userForm, { 'attr': {'class': 'form-horizontal'} }) }}
        <div class="form-group">
            {{ form_label(userForm.nom, null, { 'label_attr':  {
                'class': 'col-sm-5 control-label'
            }}) }}
            <div class="col-sm-4">
                {{ form_errors(userForm.nom) }}
                {{ form_widget(userForm.nom, { 'attr':  {
                    'rows': '1',
                    'class': 'form-control'
                }}) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(userForm.prenom, null, { 'label_attr':  {
                'class': 'col-sm-5 control-label'
            }}) }}
            <div class="col-sm-4">
                {{ form_errors(userForm.prenom) }}
                {{ form_widget(userForm.prenom, { 'attr':  {
                    'rows': '1',
                    'class': 'form-control'
                }}) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(userForm.email, null, { 'label_attr':  {
                'class': 'col-sm-5 control-label'
            }}) }}
            <div class="col-sm-4">
                {{ form_errors(userForm.email) }}
                {{ form_widget(userForm.email, { 'attr':  {
                    'rows': '1',
                    'class': 'form-control'
                }}) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(userForm.username, null, { 'label_attr':  {
                'class': 'col-sm-5 control-label'
            }}) }}
            <div class="col-sm-4">
                {{ form_errors(userForm.username) }}
                {{ form_widget(userForm.username, { 'attr':  {
                    'rows': '1',
                    'class': 'form-control'
                }}) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(userForm.password.first, null, { 'label_attr':  {
                'class': 'col-sm-5 control-label'
            }}) }}
            <div class="col-sm-4">
                {{ form_widget(userForm.password.first, { 'attr':  {
                    'class': 'form-control'
                }}) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(userForm.password.second, null, { 'label_attr':  {
                'class': 'col-sm-5 control-label'
            }}) }}
            <div class="col-sm-4">
                {{ form_widget(userForm.password.second, { 'attr':  {
                    'class': 'form-control'
                }}) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(userForm.description, null, { 'label_attr':  {
                'class': 'col-sm-5 control-label'
            }}) }}
            <div class="col-sm-4">
                {{ form_errors(userForm.description) }}
                {{ form_widget(userForm.description, { 'attr':  {
                    'rows': '1',
                    'class': 'form-control',
                    'rows':'4'
                }}) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(userForm.promo, null, { 'label_attr':  {
                'class': 'col-sm-5 control-label'
            }}) }}
            <div class="col-sm-4">
                {{ form_errors(userForm.promo) }}
                {{ form_widget(userForm.promo, { 'attr':  {
                    'rows': '1',
                    'class': 'form-control'
                }}) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(userForm.photo, null, { 'label_attr':  {
                'class': 'col-sm-5 control-label'
            }}) }}
            <div class="col-sm-4">
                {{ form_errors(userForm.photo) }}
                {{ form_widget(userForm.photo, { 'attr':  {
                    'rows': '1'
                }}) }}
            </div>
        </div>
        <div style="display: none">
        <div class="form-group">
            {{ form_label(userForm.role, null, { 'label_attr':  {
                'class': 'col-sm-5 control-label'
            }}) }}
            <div class="col-sm-4">
                {{ form_errors(userForm.role) }}
                {{ form_widget(userForm.role, { 'attr':  {
                    'rows': '1'
                }}) }}
            </div>
        </div>
        </div>
        <div class="form-group">
            <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
                <button type="submit" class="btn btn-default btn-primary center-block"><span
                            class="glyphicon glyphicon-log-in"></span> S'inscrire
                </button>
            </div>
        </div>
        {{ form_end(userForm) }}

    </div>
{% endblock %}